<div id="sidebar-black" class="sidebar-nav">
    <nav id="navbar-black" class="navbar navbar-default" role="navigation">

        <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
            <span class="visible-xs"><a class="navbar-brand" href="/">Fixed sidebar</a></span>
        </div> -->

        <div class="navbar-collapse sidebar-navbar-collapse collapse show">

            <ul class="nav navbar-nav">
                <li class="hidden-xs">
                    <a class="navbar-brand" href="/">NEWS BUZZ</a>
                </li>
                <li class=" ">
                    <form class="form-inline my-2  " action="/search" method="POST" style="padding: 0;">
                        <input class="form-control mr-sm-2 my-2" name="search" type="search" placeholder="Search" style="width: 100%;" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">EXPLORE</button>
                    </form>
                </li>
                <li class="">

                    <div class="" style="    color: #fff;
                    display: flex;flex-direction: column;text-decoration: none;">
                        <a class="" href="/news/business">Business</a>
                        <a class="" href="/news/entertainment">Entertain</a>
                        <a class="" href="/news/general">General</a>
                        <a class="" href="/news/health">Health</a>
                        <a class="" href="/news/technology">Technology</a>
                        <a class="" href="/news/sports">Sports</a>
                        <a class="" href="/news/science">Science</a>

                    </div>
                </li>



            </ul>
        </div>
        <!--/.nav-collapse -->

    </nav>
    <!--/.navbar -->
</div>
<!--/.sidebar-nav -->